* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#Thead {
    width: 100%;
    height: 130px;
    background: #f3f5f7;
}

/* 顶部区域 */
.toper {
    width: 70%;
    height: 30px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(190, 188, 218, 0.5);
    background: #f3f5f7;
}

.topleft div {
    float: left;
    width: 65px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.topleft div a:link {
    color: black;
}

.topleft div a:hover {
    color: red;
}

.topright li {
    float: right;
    line-height: 30px;
    text-align: center;
    list-style-type: none;
    font-size: 12px;
    width: 80px;
    height: 30px;
    position: relative;
}

.topright li p {
    display: inline;
}

.topright li span {
    width: 11px;
    height: 30px;
    position: absolute;
    right: 1px;
    top: 2px;
}

.topright li img {
    width: 11px;
    height: 13px;
}

.topright li .hide {
    width: 80px;
    height: 30px;
    display: none;
    z-index: 10;
}

.topright li:hover {
    height: 90px;
    background: white;
    border: #ccc 1px solid;
    z-index: 10;
}

/* logo区域 */
.logoArea {
    width: 70%;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    height: 50px;
    width: 150px;
}

.logo img {
    height: 50px;
    width: 150px;
}

.search {
    width: 352px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -160px;
}

.search input {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
}

.search button {
    width: 50px;
    height: 32px;
    background: #000;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

/* 购物车 */
.shopcar {
    width: 150px;
    height: 30px;
    background: red;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    line-height: 30px;
    z-index: 9;
}

.shopcar span {
    padding-left: 13px;
}

.shopcar :nth-child(1) {
    width: 13px;
    height: 13px;
    padding-left: 5px;
}

.shopcar :nth-child(5) {
    width: 13px;
    height: 13px;
    padding-left: 10px;
}

/* .helppos{
    width:150px;
    height:30px;
    position: relative;
} */
.shophide {
    width: 300px;
    height: 370px;
    position: absolute;
    top: 65px;
    right: -152px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: none;
    background: white;
    z-index:15;

}

.shophide .first {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    margin: 0 20px 0 20px;
    font-size: 14px;
}

.buy {
    height: 280px;
    overflow-y: scroll;
}

.buy .buy1{
    height: 56px;
    width: 260px;
    position: relative;
    border-bottom:1px solid #ccc;
    margin:0 20px 0 20px;
}

.buy div img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
    /* z-index:15px; */
}

.buy div .sname{
    /* width:200; */
    height: 25px;
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: 55px;
    /* z-index:15px; */
}
.buy div .price{
    /* width: 200px; */
    height: 25px;
    font-size: 13px;
    position: absolute;
    top: 27px;
    left: 55px;
    /* z-index:15px; */
}
.buy div p{
    height:25px;
    /* width:200px; */
}



.add {
    height: 50px;
    line-height: 50px;
    margin: 0 20px;
    border-top: 1px solid #ccc;
    font-size: 13px;
}

.add button {
    background: red;
    border: none;
    margin-left: 40px;
    color: white;
    width: 60px;
    height: 30px;
}

/* 导航 */
.daohang {
    width:100%;
    height:30px;
    background: #000;
}
.daohang ul{
    color:white;
    text-align:center;
    line-height: 30px;
    font-size: 13px;
    margin-left:-40px;
}
.daohang ul li{
    display: inline-block;
    width:80px;
}
/* banner区 */
.banner{
    width:70%;
    height:350px;
    position: relative;
    margin:0 auto;
    min-width:890px;
}
.bannerImage{
    position: relative;
    width:56%;
    height:350px;
    margin:0 auto;
    padding:5px;
}
.bannerImage .prev{
    width:30px;
    height:50px;
    background: url(img2/pre2.png) center center no-repeat;
    position: absolute;
    top:50%;
    left:5px;
    margin-top:-25px;
}
.bannerImage .back{
    width:30px;
    height:50px;
    position: absolute;
    top:50%;
    right:5px;
    margin-top:-25px;
    background: url(img2/pre.png) no-repeat center center;
}
.bannerImage .prev:hover,.back:hover{
    background-color:rgba(7,17,27,0.5);
}
.bannerImage div{
    width:100%;
    height:100%;
}
.bannerImage img{
    width:100%;
    height:350px;
    position: absolute;
    top:0;
    left:0;
    display: none;
    padding:5px;
}
.bannerImage div .first{
    display: block;
}
.banner .dots{
    position: absolute;
    bottom:8px;
    left:50%;
    margin-left:-32px;
}
.dots span{
    width:10px;
    height:10px;
    border-radius: 50%;
    display: inline-block;
    background:rgba(7, 17, 27, 0.5);
    margin:2px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255) inset;
    cursor: pointer;
}
.banner .dots .firstdots{
    background: rgb(255,255,255);
    box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.5) inset;
}
/* baner左边导航 */
.bannerLeft{
    width:21%;
    height:390px;
    opacity:0.8;
    background: red;
    position: absolute;
    top:-35px;
    left:0;
}
.bannerLeft div{
    color:white;
    height:25px;
    line-height: 25px;
    font-size: 12px;
    margin-left:20px;
    position: relative;
}
.bannerLeft .leftT{
    height:35px;
    line-height: 35px;
}
.bannerLeft img{
    width:8px;
    height:13px;
    position: absolute;
    top:6px;
    right:10px;
    transform: rotate(270deg);
}
.bannerLeft .leftT .firstT{
    margin-left:15px;
}
.bannerLeft .leftT img{
    width:13px;
    height:13px;
    position: absolute;
    top:12px;
    left:0px;
}
/* banner右边区域？ */
.bannerright{
    width:20%;
    height:350px;
    position: absolute;
    top:5px;
    right:0;
}
.R1{
    width:100%;
    height:145px;
    position: absolute;
    top:0px;
    right:0;
    border:1px solid #f3f5f7;
}
.mukuaibao{
    width:100%;
    height:30px;
    position: relative;
}
.mukuaibao div{
    color:red;
    height:35px;
    line-height: 35px;
    font-size: 14px;
    position: absolute;
    top:0;
    left:10px;
}
.mukuaibao span{
    color:#ccc;
    font-size: 10px;
    position: absolute;
    top:11px;
    right:11px;
}
.mukuaibao span img{
    width:8px;
    height:13px;
    transform: rotate(270deg);
    position: absolute;
    top:0px;
    right:-7px;
}
.mukuaibaoN{
    width:100%;
    height:100px;
}
.mukuaibaoN div{
    font-size: 11px;
    width:100%;
    height:20px;
    line-height: 22px;
    padding-left:5px;
}
.mukuaibaoN div a:link{
    color:#000;
}
.mukuaibaoN div a:hover{
    color:red;
}
.R2{
    width:100%;
    height:145px;
    position: absolute;
    top:145px;
    right:0;
    border:1px solid #f3f5f7;
}
.R2 div{
    /* width:46px; */
    width:24.5%;
    height:46px;
    float:left;
    position: relative;
    border-right:1px solid #f3f5f7;
    border-bottom:1px solid #f3f5f7;
}
.bannerright .R2 .notright{
    border-right:none;
}
.bannerright .R2 .notbuttom{
    border-bottom:none;
}
.R2 div img{
    width:20px;
    height:20px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.R3{
    width:100%;
    height:60px;
    position: absolute;
    top:290px;
    right:1px;
}
.R3 img{
    width:100%;
    height:100%;
}
.hidemenu{
    width:59%;
    height:424px;
    position: absolute;
    top:0;
    left:21%;
    /* margin: 0 auto; */
    z-index:11;
    background: white;
    border:1px #ccc solid;
    display:none;
}
.hidecontainer{
    position: absolute;
    top:0;
    left:21%;
    width:59%;
    height:390px;
    z-index:12;
    margin-top:10px;
    display: none;
}
.hcontainer1{
    width:100%;
    height:12.5%;
    /* line-height: 48.75px; */
    padding-left: 30px;
    position: relative;
    
}
.hcontainer1 span{
    font-size: 11px;
}
.hcontainer1 b{
    font-size: 11px;
    line-height: 45px;
}
.hcontainer1 .hc{
    width:70%;
    position: absolute;
    top:50%;
    left:90px;
    margin-top:-13px;
    /* display: table;
    vertical-align: middle; */
}
.hcontainer1 .hc2{
    width:70%;
    position: absolute;
    top:50%;
    left:90px;
    margin-top:-13px;
}